.hero-container {
  display: block;
  width: 100%;
  height: 450px;
}

@media (max-width: 1080px) {
  .hero-container {
    height: 380px;
  }
}

@media (max-width: 760px) {
  .hero-container {
    height: 300px;
  }
}
